
<div  [ngClass]="{'wrapper': show}">
      
    <div class="main_container">
        <div class="sidebar" [ngClass]="{'sidebarsmall': show}" >
            <div class="sidebar__inner">
              <div class="profile">
                <!-- <div class="img">
                  <img src="../../assets/IMG/exeq engineers.png" alt="profile_pic" style="width: 180px;height: 170px;"> 
                </div> -->
                <!-- <div class="profile_info">
                   <p></p>
                   <p class="profile_name">Alex John</p>
                </div> -->
              </div>
              <ul>
                
                <!-- <li>
                  <a href="home" class="active">
                    <span class="icon">
                      <i class="fas fa-home"  style="color: plum;" ></i>
                    </span>
                    <span class="title">Dashboard</span>
                  </a>
                </li> -->
                <div class="top_navbarr" id="fixed-nav-bar"  >
                <div class="hamburger" >
                  <div class="hamburger__inner" (click)="toggle()">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                  </div>
               </div>
               <div class="foods" style="padding: 18px;">
                 <span style="color: #f5365c;
                 font-size: 20px;
                 font-weight: bold;
                 font-family: fangsong;">Foodsair</span>
               </div>
               </div>
  
  
               <app-accordian style="margin-top: 21px;" [ngClass]="{'app-accordian': show}"
               [options]="options" 
               [menus]="menus">
              
             </app-accordian>
                  
  
            <ul style="margin-top: 27px;" class="accordion" *ngIf="show">
              <li *ngFor="let menu of menus; let i = index" 
                [class.active]="menu.active">
                <div class="menu">
                 
                <img [src]="menu.iconClass" style="width: 16px;margin-right: 10px">
                </div>
              </li>
           
              
        </ul>
        </ul>
              </div>
          </div>
    <body style="background-color:#F7F9F6;">
      
        
       
      <div class="container" style=" margin-top: 0px;max-width: 100% !important;" [ngClass]="{'bigcontainer': show}">
       
        <!-- <div class="top_navbar" id="fixed-nav-bar" style="padding-top: 30px;display: inline-block;display: flex;">
         
         
            <div style="width: 70%;">
            </div>
            <div class="profile px-8"  >
              <mat-icon  style="cursor:pointer;" *ngIf="logactive"  style="color: white;font-size: 31px;margin-left: 15px;" (click)="accountdropdown()">account_circle</mat-icon>
                    <mat-icon   style="cursor:pointer;"  *ngIf="!logactive" style="color: white;margin-left: 15px;font-size: 25px;" (click)="accountdropdown()">account_circle 
                      <div></div></mat-icon>&nbsp;&nbsp;<span style="color:white;position: absolute;"></span>
                      <mat-list role="list" *ngIf="logactive">
                      <div _ngcontent-aps-c3="" class=" dropdown-header noti-title">
                        <h6 _ngcontent-aps-c3="" class="text-overflow m-0" id="wel">Welcome!</h6>
                      </div>
                      <hr> 
                   
                        <mat-list-item role="listitem" (click)="Logout()"><mat-icon style="color:black;font-size: 18px;">settings_power</mat-icon>Logout</mat-list-item>
                      </mat-list>
            </div>
  
          </div> -->
          <div class="top_navbar" id="fixed-nav-bar" style="padding-top: 30px;display: inline-block;display: flex;height: 100px;">
            <div style="width: 70%;">
            </div>
            <div class="profile px-8">
              <mat-icon   style="cursor:pointer;" >account_circle</mat-icon>
            
            
              <div class="dropdown-content">
          
             
                  <mat-list-item role="listitem" (click)="Logout()" ><mat-icon style="color:black;font-size: 18px;padding-left: 10px;">settings_power</mat-icon>&nbsp;&nbsp; Logout</mat-list-item>
            
              </div>
            </div>
          </div>
  
     
  
    <div class="row" style="padding-bottom: 10px; background-color: #f5365c;padding-top: 80px;">
      <div class="col-md-9">
        <nav aria-label="breadcrumb" id="bread" >
          <ol class="breadcrumb"  >
            <li class="breadcrumb-item" >
              <a href="home" style="color: black !important;">Home &nbsp; <i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;cursor: initial;">Food Status &nbsp;<i class="fas fa-info-circle"></i></li>
          </ol>
        </nav>
      </div>
      
      <div class="col-md-3" >
        <button type="button" class="btn btn-success" (click)="toggleShow()" style="  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);border-color:white;background-color:white !important;color:#f5365c; float: right;margin-right: 10px !important;width: 40% " >Filter</button> 
        <!-- <button type="button" class="btn btn-success"style=" box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);border-color:white;background-color:white !important;color:#f5365c; float: right;margin-right: 30px !important; " data-toggle="modal" data-target="#myModal">Add</button>
       -->
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
    </div>
    
    <div class="row" style="margin-top: -70px !important;" >
      <div class="col-lg-12" style="padding-left: 23px;">
        <div class="card" id="carddd" *ngIf="isShown" style="margin-left: 0px;
                width: 99%;
                border-radius: 8px;">
                  <div  class="cardfil" id="caardfil" style="border-radius: 8px;" >
                    <br>
                    <h4 style="text-align: left;padding-left: 30px;font-size: 20px;padding-top: 10px;color: gray;"><b>Filter</b></h4>
                    <br>
                    <div class="row">
                    
                      <div class="col-md-4">
                      
                        <div class="row" style="padding-left: 46px;">
                          <label for="exampleFormControlInput1" style="color: gray;">Keyword</label>
  
                        </div>
                        <div style="display: flex;margin-top: -26px;">
                          <input type="search"   id="filtersearch" class="form-control" placeholder="Search by Food Name" />
                          <!-- <button type="submit" id="filtersearchicon"><i class="fa fa-search"></i></button> -->
                        </div>
                      </div>
                      <div class="col-md-6"  style="margin-left: -71px;">
                        <div class="row" style="padding-left: 46px;">
                          <label for="exampleFormControlInput1" style="color: gray;"> Sort</label>
  
                        </div>
                        <div style="display: flex;margin-top: -26px;">
                          <select name="cars" id="filtersort"style="color: gray;" >
                            <option value="no">Available Food</option>
                            <option value="">Unavailable Food</option>
                            <option value=""></option>
                            <option value=""></option>
                          </select>
                          <button class="fltbtn" type="submit" >Filter</button>
                        </div>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                 
                    </div>
                    </div>
                  <br>
          <div class="car" style="width: 99%;margin-left: 0px;border-radius: 8px;" id="cardd">
            <br>
            <br>
            <div style="display: inline;">
                <h5 style="float: left;margin-left: 25px;font-size: 25px;">Food Status</h5>
               
  
            </div>
            <br>
            <br>
            <br>
            <br>
                    <table class="table" style="border-collapse:collapse;padding-top: 20px !important;width: 94%;margin-left: 25px;">
                      <thead style="background: #f5365c;font-family: serif;color:white">
                        <tr>
                          <th scope="col" style="color: black;">SLNO</th>
                          <th scope="col" style="color: black;">FOOD NAME</th>
                          <th scope="col" style="color: black;">PRICE</th>
                          <th scope="col" style="color: black;">FOOD STATUS</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr >
                          <th scope="row">1</th>
                         
                          <td>BIRIYANI</td>
                          <td>160</td>
                          <td>
                            <mat-slide-toggle></mat-slide-toggle>
                          </td>
                       <td>
                        <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModall"style="background-color:white !important;border-color:white; color:#f5365c; float: right;margin-right: 45px !important;height: 30px; " >View Details</button> -->
                          </td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
          <div class="right" style="text-align: right;">
              <ul class="pagination">
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">«</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">1</a></li>
                <li><a class="active" href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">2</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">3</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">4</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">5</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">6</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">7</a></li>
                <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">»</a></li>
              </ul>
          </div>
          </div>
      </div>
    
    </div>
          
  
         
        
      </div>
      </body>