body{
  background-color: #f5f5f5;
  }
  .Product-img img{
  width: 100%;
  }
  .main-section{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top:100px;
  }
  @media screen and (max-width: 700px)
{
  #cartrow{
      margin-left: -91px;
  padding-left: 0px;
  padding-right: 10px;
  margin-right: 12px;
  width: 118%;

  }
  .bg-white{
      margin-top: 0px;
  }
  
#navbarResponsive {
  margin-left: -12px;
  padding-top: 27px;
  padding-left: 46px;
  margin-right: -14px;
  background-color:rgba(13, 14, 13, 0.7);
  }
  .navbar-dark .navbar-nav .nav-link {
  color: yellow;
  }
}
.bg-white{
  margin-top: 2px;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: contents;
  height: 100%;
  overflow: auto;
}
.toolbar-icon {
  line-height: 0; 
  border: none;
  background-color: #ffc851;
  color: black;
}
.toolbar-icon-text {
  line-height: 1.8; 
  font-size: 15px !important; 
  color:  black !important;

  /* display: none; */
}


.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  color: black;
}

footer {
  position: fixed;
  bottom: 0px;
  overflow: hide;
  width: 100%;
  height: 50px; 
}

.toolbar-icon {
  line-height: 0; 
  border: none;

  color: white;
}
#minus , #plus{
  height:25px;
  width:25px;
  border-radius:50%;

  background: white;
  border-color: darkgrey;
}


.actions button {
border-radius: 50%;
padding: 0.5em;
width: 30px;
height: 30px;
border: 2px solid rgb(207, 207, 207);
color: rgb(207, 207, 207);
position: relative;
background-color: white;
}
.actions  button:hover {
border: 2px solid rgb(218, 66, 66);
color:rgb(218, 66, 66) ;

}

mat-toolbar {
position: sticky;
top: 0;
z-index: 1000;
}

.actions  button::before {
content: " ";
position: absolute;
display: block;
background-color: rgb(207, 207, 207);
width: 2px;
left: 12px;
top: 5px;
bottom: 5px;
transform: rotate(45deg);

}
.actions button::after {
content: " ";
position: absolute;
display: block;
background-color: rgb(207, 207, 207);

height: 2px;
top:12px;
left: 5px;
right: 5px;
transform: rotate(45deg);
}
/* #minus:hover{
  background-color:red;    
  border:none;
}
#plus:hover{
  background-color:green;
  border:none;
} */
.card{
border: none;
box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card-header{
background-color: white;
height: 5rem;
font-weight: bold;
font-size: 20px;
}
#numberPlace {
  margin-left:5px;
  margin-right:5px;
}
button:focus {
outline: none;
border-color: green;
}
button{
border-color: gray;
}
#mainDiv{
width: 146%;
}


.toolbar-icon-text {
  line-height: 1.8; 
  font-size: 70%; 
  color: white;
}

.active-menu-item {
  color: black;
}
.home-card {
  border-radius: 4px;
  max-width: 600px;
  max-height: 1000px;
  margin-top: 25px;
  padding: 0;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);


}


mat-toolbar{
  flex-direction: row;
    box-sizing: border-box;
    display: flex;
    /* border-radius: 25px 25px 1px 1px; */
   
  }
  .mat-button{
    border: none;
    background-color: #ffc851;
  
  }
  .mat-toolbar.mat-primary {
    background-color: #ffc851;
    color: white;
  }



th{
  border: none !important;

  font-weight: 400;

  color: darkgray;
}
table{
  border: none !important;
}
td{
  /* text-align: center; */
}

@media screen and (max-width: 768px){
.container {
  margin-left: 16px !important;
  padding-right: 47px !important;
  padding-left: 15px !important;
}
}

.card-horizontal {
display: flex;
flex: 1 1 auto;
height: 9rem;

}
