
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);



/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
  background:#090a0a;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 65px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: contents;
  height: 100%;
  overflow: auto;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  color: black;
}


.restname{
  color: black;
  font-size: 12px;
  text-align: left !important;
  padding-top: 8px;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: contents;
  height: 100%;
  overflow: auto;
}
.toolbar-icon-text span{
  color: black;
}

.log{
  color: black;padding-left: 20px;margin-top: -8px;
}
.loc{
  font-size: 12px;
}
#locicon{
  color: green;
}
.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#cardlink{
    text-decoration: none;
    color: black;
}
mat-toolbar{
  flex-direction: row;
    box-sizing: border-box;
    display: flex;
    /* border-radius: 25px 25px 1px 1px; */
    background-color: #9e8ec4;
  }

footer {
  position: fixed;
  bottom: 0px;
  overflow: hide;
  width: 100%;
  height: 50px; 
}

.toolbar-icon {
  line-height: 0; 
  border: none;
  background-color: #ffc851;
  color: white;
}

.toolbar-icon-text {
  line-height: 1.8; 
  font-size: 70%; 
  color: white;
}

.active-menu-item {
  color: black;
}

mat-toolbar{
flex-direction: row;
  box-sizing: border-box;
  display: flex;
  /* border-radius: 25px 25px 1px 1px; */
 
}
.mat-button{
  border: none;
  background-color: #ffc851;

}
.mat-toolbar.mat-primary {
  background-color: #ffc851;
  color: white;
}

#bgrest{

    /* background-image: url(../../../assets/img/menu.jpg);
    height: 30rem;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
p{
 text-align: center !important;
  
  line-height: 40px;
  text-decoration: black;
  font-size: 30px;
  align-items: center;

   font-family: 'Titillium Web';
  color: white;
 
}
.form-inline{
  align-items: center;
  margin-left: 465px;
}




#restcard{
   
    background: #fff;
    font-weight: 600;
  width: 16rem;
  height: 21rem;
  padding: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  
  cursor: pointer;
  margin-bottom: 16px;
  
  }
  .restrest{
      height: 15.5rem;
  }
  @media screen and (max-width: 700px) {
      .col-md-3{
          padding-left: 15px !important;
      }
      /* #restcard{
          width: 10rem;
      } */
  }

 
  .form-control{
    background: rgba(13, 14, 13, 0.7) !important;
    border-color: white;
    color: #ffffff !important;
    margin-top: 5px;
     width: 40% !important;
      height:35px;
   
      margin-left: 1px;
  }
  input:focus {
    background-color: white !important;
    color: black !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem !important;
  }
.form-control-feedback
{ 
  border-color: white;
  background: rgba(13, 14, 13, 0.7) !important;
  height: 37px;
  margin-top: 5px;
  margin-left: 3px;
  color: white;
}


/* contact */
 

#vertical-center {
  margin: 0;
  position: absolute;

left: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn-success{
  background-color:white;
  color: darkblue !important;
  width: 150px;
  text-align: center;
  height: 44px;
  border-color: darkblue !important;
}
.btn-success:hover{
  background-color: darkblue;
  color: white !important;
  }

  @media screen and (max-width: 700px) {
    .form-inline{
      align-items: center;
      margin-left: 52px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
  #vertical-center {
    margin: 0;
    position: absolute;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  }
  @media only screen and (min-width:700px) and (max-width: 1024px) {
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
    .col-md-3{
      width: 50% !important;
    }
    .card{
      width: 96% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important;
    }
    .restrest{
      height: 11rem !important;
    }
    .form-inline{
      align-items: center;
      margin-left: 110px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
  }
  @media only screen and (min-width:400px) and (max-width: 500px) {
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
    .col-md-3{
      width: 50% !important;
    }
    .card{
      width: 96% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important;
    }
    .restrest{
      height: 11rem !important;
    }
    .form-inline{
      align-items: center;
      margin-left: 55px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
  }
  @media only screen and (min-width:300px) and (max-width: 400px) {
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
    .col-md-3{
      width: 50% !important;
    }
    .card{
      width: 100% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important;
    }
    .restrest{
      height: 11rem !important;
    }
    .form-inline{
      align-items: center;
      margin-left: 55px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
  }
  @media only screen and (min-width:500px) and (max-width: 700px) {
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
    .col-md-3{
      width: 50% !important;
    }
    .card{
      width: 96% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important;
    }
    .restrest{
      height: 11rem !important;
    }
    .form-inline{
      align-items: center;
      margin-left: 55px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
    #vertical-center {
      margin: 0;
      position: absolute;
      left: 37%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  @media only screen and (min-width:200px) and (max-width: 300px) {
    .navbar-dark .navbar-nav .nav-link {
      color: yellow;
    }
    #navbarResponsive {
      margin-left: -12px;
      padding-top: 27px;
      padding-left: 46px;
      margin-right: -14px;
      background-color:rgba(13, 14, 13, 0.7);
  }
    .col-md-3{
      width: 50% !important;
    }
    .card{
      /* width: 96% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important; */
      width: 128% !important;
      margin-right: 0px;
      margin-left: -24px;
      height: 17rem !important;
    }
    .restrest{
      height: 11rem !important;
    }
    .form-inline{
      align-items: center;
      margin-left: 55px;
    }
    .form-control{
      background: rgba(13, 14, 13, 0.7) !important;
      border-color: white;
      color: #ffffff !important;
      margin-top: 5px;
       width: 75% !important;
        height:35px;
     
        margin-left: 1px;
    }
    #vertical-center {
      margin: 0;
      position: absolute;
      left: 27%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  mat-toolbar{
    position: sticky !important;
    top: 0 !important;;
    z-index: 9 !important;
    right: 0;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0,0,0,.24);


  }